<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Unison-UI-Mac</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>Unison</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Unison-UI-Mac</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Bruno Courbage. Licensed under GNU GPLv3 or later. Embeds Unison File Synchronizer © Benjamin C. Pierce and contributors.</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://bcourbage.github.io/unison-ui-mac/appcast.xml</string>
	<key>SUPromptUserOnFirstLaunch</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>/jLGv/pL0qFJOHFm/kpxONcqkeo8KOBH+oxDLTuCwt8=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUSignedFeedFailureExpirationInterval</key>
	<integer>0</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
